<article>
  <% if article.metadata[:page][:cover] %>
      <div class="cover-image-container">
        <img alt="Cover image" src="/images/covers/<%= article.metadata[:page][:cover] %>">
      </div>
    <% end %>
  <div class="article-header">
    <% if article.data.link %>
      <h1 class="article-title link"><%= link_to formatted_title(article.title), article.data.link %> &rarr;</h1>
    <% else %>
      <h1 class="article-title"><%= link_to formatted_title(article.title), article %></h1>
    <% end %>

    <span class="metadata">
      <%= metadata_for_article(article) %>
    </span>
  </div>

  <%= article.body %>

  <% unless article.tags.nil? || article.tags.empty? %>
    <ul class="tags">
      <% article.tags.each do |tag| %>
        <%= markup_for_tag(tag) %>
      <% end %>
    </ul>
  <% end %>                 
</article>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://ynorm.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>  
